{% extends 'mailing/base.html' %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-9">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.message.title }}</h4>
                    </div>
                    <div class="card-body">
                        <h5>{{ object.message.content }}</h5>
                        <h5>От {{ object.first_datetime }}</h5>
                        {% for recipient in object.recipients.all %}
                            <p class="card-title pricing-card-title">Для: {{ recipient }}</p>
                        {% endfor %}
                        {% if perms.mailing.can_change_settings_status or user == object.creator %}
                            <a class="btn btn-primary" href="{% url 'mailing:settings_edit' object.pk %}" role="button">Изменить</a>
                        {% endif %}
                        {% if user == object.creator %}
                            <a class="btn btn-primary" href="{% url 'mailing:settings_delete' object.pk %}" role="button">Удалить</a>
                        {% endif %}
                        <a class="btn btn-primary" href="{% url 'mailing:settings_list' %}" role="button">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}